html {
    background-color: #F3E4C1;
}

body {
    min-height: 100vh;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to right, #60479b, #b8a3cc, #6884c0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page-title {
    color: aliceblue;
}

#quote {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif
}

#author {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#wiki-preview-notice {
    font-style: italic;
    visibility: hidden;
    text-align: center;
}

#hero-banner {
    background-image: linear-gradient(to right, #60479b, #b8a3cc, #6884c0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: end;
}

/*quotes.html Styling*/
#quotes {
    flex-wrap: wrap
}