#wiki-preview-notice {
    font-style: italic;
    visibility: hidden;
    font-size: 12px;
    text-align: center;
}

header {
    background-image: linear-gradient(to right, hsl(217, 71%, 53%) , #FEEEA4);
}

#quote {
    text-align: center;
}

#author {
    text-align: right;
}